table, th, td {
    border: 1px solid black;
    font-size: 15px;
    padding: 10px;
  }
  
  from, label, input {
    font-size: 15px;
    padding: 10px;
  }
  input {
    margin-top: 10px;
  }
  
  a {
    color: blue;
    font-size: 15px;
  }
  
  a:hover {
    cursor: pointer;
    color:blue;
  }